/* FOOTER */

.footer {
    height: 79px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    border-top: 2px solid #C6CCD8;
}

.footer .element {
    text-align: center;
    width: 54px;
}

.footer a {
    font-size: 12px;
    text-decoration: none;
    color: #44586A;
}
/*
.footer a:hover {
    color: #85A1C1;
}

.footer a:active {
    color: #85A1C1;
}
*/
.footer .img {
    margin-bottom: 5px;
}

.footer .titel {
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.4px;
}

.active {
    color: #85A1C1;
}

/* /.FOOTER */