.pas_rec {
    width: 328px;
    margin: 0 auto;
}

.pas_rec .titel {
    margin-top: 253px;

    font-weight: 400;
    font-size: 34px;
    line-height: 100%;

    letter-spacing: 1px;
}

.pas_rec .form {
    margin-top: 47px;
    margin-bottom: 37px;
}

.pas_rec input {
    width: 328px;
    height: 49px;

    background: #FFFFFF;
    border: 1px solid #85A1C1;
    border-radius: 5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    text-indent: 10px;

    color: #6B6C6E;

    margin-bottom: 9px;
}

.pas_rec .button a {
    width: 328px;
    height: 49px;
    left: 51px;
    top: 541px;
    border: 0px;

    display: block;
    margin: 0 auto;
    margin-bottom: 38px;

    color: #fff;

    text-decoration: none;
    line-height: 49px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;

    background: #85A1C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.pas_rec_3 input:first-child {
    margin-bottom: 21px;
}