.sign_up {
    width: 328px;
    margin: 0 auto;
}

.sign_up .titel {
    margin-top: 253px;

    font-weight: 400;
    font-size: 34px;
    line-height: 100%;

    letter-spacing: 1px;
}

.sign_up .form {
    margin-top: 47px;
    margin-bottom: 37px;
}

.sign_up .form input {
    width: 328px;
    height: 49px;

    background: #FFFFFF;
    border: 1px solid #85A1C1;
    border-radius: 5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    text-indent: 10px;

    color: #6B6C6E;

    margin-bottom: 9px;
}

.sign_up .agree {
    display: flex;
    height: 85px;

    margin-bottom: 39px;
}

.sign_up .agree .text {
    width: 305px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    /* or 32px */

    display: flex;
    align-items: center;
    text-align: right;
    
    letter-spacing: 0.15px;
    text-indent: 10px;

    color: #6B6C6E;
}

.sign_up .agree .text a {
    text-decoration: none;
    color: #000;
}

.sign_up .agree input {
    width: 22px;
    height: 22px;

    display: block;
    margin-top: 25px;

    background: #FFFFFF;
    border: 1px solid #85A1C1;
    border-radius: 2px;
}

.sign_up .button a {
    width: 328px;
    height: 49px;
    left: 51px;
    top: 541px;
    border: 0px;

    display: block;
    margin: 0 auto;
    margin-bottom: 38px;

    color: #fff;

    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    line-height: 49px;
    font-size: 20px;
    font-weight: 500;

    background: #85A1C1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}